{
  "openapi": "3.0.0",
  "info": {
    "title": "Devic.ai Public API",
    "description": "Devic.ai is an AI platform that allows you to create, manage, and use AI agents for various tasks.",
    "version": "1.0.0",
    "contact": {
      "name": "Devic.ai Support",
      "url": "https://devic.ai"
    },
    "x-logo": {
      "url": "https://devic.ai/logo.png",
      "altText": "Devic.ai Logo"
    },
    "x-summary": "Public API for interacting with Devic.ai platform"
  },
  "tags": [
    {
      "name": "Projects",
      "description": "Group agents, assistants, documents and costs into projects"
    },
    {
      "name": "Documents",
      "description": "Knowledge base documents: create, version, attach and index markdown content for RAG"
    },
    {
      "name": "Document Folders",
      "description": "Organise knowledge base documents into folders and attach them in bulk"
    },
    {
      "name": "Files",
      "description": "Upload files and obtain shareable download URLs to attach to messages"
    },
    {
      "name": "Agents",
      "description": "Endpoints related to AI agents and their operations"
    },
    {
      "name": "Assistants",
      "description": "Endpoints for interacting with assistants and their specializations"
    },
    {
      "name": "Tool Servers",
      "description": "Endpoints for managing tool servers and their tool definitions"
    },
    {
      "name": "Health",
      "description": "API health check endpoints"
    },
    {
      "name": "Documentation",
      "description": "Endpoints for retrieving markdown documentation"
    },
    {
      "name": "Integrations",
      "description": "Connect third-party apps and turn them into tools"
    },
    {
      "name": "Triggers",
      "description": "Start an agent or an assistant from an app event"
    },
    {
      "name": "Tenant Integrations",
      "description": "Apps that each end user connects for themselves"
    },
    {
      "name": "Memory",
      "description": "What an assistant remembers between conversations"
    },
    {
      "name": "Skills",
      "description": "Reusable instruction packs for agents and assistants"
    },
    {
      "name": "Speech to Text",
      "description": "Audio transcription"
    },
    {
      "name": "Tenants",
      "description": "Tenants, subtenants and their usage"
    },
    {
      "name": "MCP Gateway",
      "description": "One MCP endpoint over many servers, with visibility per user"
    },
    {
      "name": "Tenant Sessions",
      "description": "Tokens that prove which end user is calling"
    }
  ],
  "servers": [
    {
      "url": "https://api.devic.ai",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.devic.ai",
      "description": "Staging server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Use JWT token for authentication"
      }
    },
    "schemas": {
      "Tenant": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "description": "Account-chosen identifier of the tenant"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "description": "Logo URL (auto favicon of the corporate domain, or manual)"
          },
          "domain": {
            "type": "string",
            "description": "Corporate domain (auto-detected or manual)"
          },
          "source": {
            "type": "string",
            "description": "How the tenant was created (e.g. auto)"
          },
          "subtenantsCount": {
            "type": "integer"
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "TenantList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Subtenant": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "subtenantId": {
            "type": "string",
            "description": "Identifier of the end user/entity inside the tenant"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "emailDomain": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubtenantList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subtenant"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "UpdateTenantRequest": {
        "type": "object",
        "description": "Editable tenant fields. Setting imageUrl or domain marks them manual and freezes the automatic favicon/domain detection.",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "description": "Overrides the auto-detected favicon (marks it manual)"
          },
          "domain": {
            "type": "string",
            "description": "Overrides domain auto-detection (marks it manual)"
          }
        }
      },
      "TenantStats": {
        "type": "object",
        "description": "Live chat/thread counts per assistant and per agent for a tenant (from the indexed tenantId, so they reflect full history).",
        "properties": {
          "byAssistant": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assistantIdentifier": {
                  "type": "string"
                },
                "chats": {
                  "type": "integer"
                }
              }
            }
          },
          "byAgent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "agentId": {
                  "type": "string"
                },
                "threads": {
                  "type": "integer"
                }
              }
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "chats": {
                "type": "integer"
              },
              "threads": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LimitRule": {
        "type": "object",
        "description": "A usage-limit rule. scope=tenant caps the whole tenant; scope=subtenant with no id applies the same cap to EACH subtenant; scope=subtenant with subtenantId overrides one subtenant. The window is windowEvery x windowUnit.",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "tenant",
              "subtenant"
            ]
          },
          "subtenantId": {
            "type": "string"
          },
          "metric": {
            "type": "string",
            "enum": [
              "tokens",
              "cost"
            ]
          },
          "windowUnit": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month"
            ]
          },
          "windowEvery": {
            "type": "integer",
            "description": "Number of windowUnit per window (e.g. 3 hours)"
          },
          "limit": {
            "type": "number"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "RuleUsage": {
        "type": "object",
        "description": "Live consumption for one applicable rule.",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "tenant",
              "subtenant"
            ]
          },
          "subtenantId": {
            "type": "string",
            "nullable": true
          },
          "metric": {
            "type": "string",
            "enum": [
              "tokens",
              "cost"
            ]
          },
          "windowUnit": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month"
            ]
          },
          "windowEvery": {
            "type": "integer"
          },
          "limit": {
            "type": "number"
          },
          "current": {
            "type": "number",
            "description": "Consumption in the current window"
          },
          "percent": {
            "type": "number"
          },
          "resetsAt": {
            "type": "integer",
            "description": "Epoch ms when the window resets"
          },
          "origin": {
            "type": "string",
            "enum": [
              "tier",
              "adhoc"
            ]
          },
          "tierId": {
            "type": "string"
          }
        }
      },
      "TenantUsage": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "subtenantId": {
            "type": "string",
            "description": "Present only on the subtenant variant"
          },
          "tierId": {
            "type": "string",
            "nullable": true
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleUsage"
            }
          }
        }
      },
      "Tier": {
        "type": "object",
        "description": "A reusable bundle of limit rules (a plan, e.g. free/pro/enterprise). Tenants reference a tier by tierId by live reference: editing the tier applies instantly to every tenant assigned to it.",
        "properties": {
          "tierId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LimitRule"
            }
          },
          "excludedAssistants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Assistants exempt from this tier's limits (by specialization identifier or _id) — neither counted nor blocked"
          },
          "excludedAgents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agents exempt from this tier's limits (by _id)"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Applied to tenants without an explicit tierId"
          }
        }
      },
      "TenantUsageHistoryRow": {
        "type": "object",
        "description": "Durable snapshot of one closed usage window (the live counters are ephemeral).",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "subtenantId": {
            "type": "string",
            "description": "Empty string for tenant-scope"
          },
          "scope": {
            "type": "string",
            "enum": [
              "tenant",
              "subtenant"
            ]
          },
          "metric": {
            "type": "string",
            "enum": [
              "tokens",
              "cost"
            ]
          },
          "windowUnit": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month"
            ]
          },
          "windowEvery": {
            "type": "integer"
          },
          "windowStart": {
            "type": "integer",
            "description": "Epoch ms"
          },
          "windowEnd": {
            "type": "integer",
            "description": "Epoch ms"
          },
          "consumption": {
            "type": "number",
            "description": "Amount counted toward the limit"
          },
          "exemptConsumption": {
            "type": "number",
            "description": "Amount incurred by exempt entities (not counted toward the limit)"
          },
          "limit": {
            "type": "number"
          },
          "percent": {
            "type": "number"
          },
          "tierId": {
            "type": "string"
          }
        }
      },
      "ChangeTierRequest": {
        "type": "object",
        "required": [
          "tierId"
        ],
        "properties": {
          "tierId": {
            "type": "string",
            "description": "Tier (plan) to assign"
          },
          "reason": {
            "type": "string",
            "description": "Free-text reason stored in the tier-change audit log"
          },
          "resetUsage": {
            "type": "boolean",
            "description": "Also reset usage counters on change"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Project ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "identifier": {
            "type": "string",
            "description": "Unique identifier (lowercase alphanumeric with hyphens)"
          },
          "description": {
            "type": "string",
            "description": "Project description"
          },
          "imageUrl": {
            "type": "string",
            "description": "Project image URL"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Project visibility"
          },
          "createdByUserUID": {
            "type": "string",
            "description": "UID of the user that created the project"
          },
          "creationTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp (ms)"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Last edit timestamp (ms)"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the project is archived"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name",
          "identifier"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "identifier": {
            "type": "string",
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "Unique identifier (lowercase alphanumeric with hyphens, e.g. \"my-project-1\")"
          },
          "description": {
            "type": "string",
            "description": "Project description"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "default": "private",
            "description": "Project visibility"
          }
        }
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "description": {
            "type": "string",
            "description": "Project description"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Project visibility"
          },
          "archived": {
            "type": "boolean",
            "description": "Archive the project"
          },
          "imageUrl": {
            "type": "string",
            "description": "Project image URL"
          }
        }
      },
      "PaginatedProjects": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of projects"
          }
        }
      },
      "KnowledgeDocument": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "description": "Project ID the document is scoped to"
          },
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "fileName": {
            "type": "string",
            "description": "File name (with extension)"
          },
          "fileType": {
            "type": "string",
            "enum": [
              "md",
              "pdf",
              "txt",
              "docx"
            ],
            "description": "File type"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready",
              "failed"
            ],
            "description": "Processing / indexing status"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content (for markdown documents)"
          },
          "summary": {
            "type": "string",
            "description": "Auto-generated summary"
          },
          "tokenCount": {
            "type": "integer",
            "description": "Token count"
          },
          "currentVersion": {
            "type": "integer",
            "description": "Current version number"
          },
          "folderId": {
            "type": "string",
            "nullable": true,
            "description": "Folder ID the document is filed in"
          },
          "parentDocumentId": {
            "type": "string",
            "nullable": true,
            "description": "Parent document ID (for subdocuments referenced via @ mentions)"
          },
          "createdByUserUID": {
            "type": "string",
            "description": "UID of the user that created the document"
          },
          "creationTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp (ms)"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Last edit timestamp (ms)"
          }
        }
      },
      "PaginatedDocuments": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeDocument"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of documents matching the query"
          }
        }
      },
      "CreateMarkdownDocumentRequest": {
        "type": "object",
        "required": [
          "name",
          "markdownContent"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Document name (without extension)"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content to store and index for RAG"
          },
          "projectId": {
            "type": "string",
            "description": "Optional project ID to scope the document"
          },
          "parentDocumentId": {
            "type": "string",
            "description": "Optional parent document ID (for subdocuments referenced via @ mentions)"
          },
          "folderId": {
            "type": "string",
            "description": "Optional folder ID to file the document"
          }
        }
      },
      "UpdateDocumentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "summary": {
            "type": "string",
            "description": "Document summary"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content (creates a new version when it changes)"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "description": "Project ID (send null to unset)"
          },
          "parentDocumentId": {
            "type": "string",
            "nullable": true,
            "description": "Parent document ID (send null to unset)"
          },
          "folderId": {
            "type": "string",
            "nullable": true,
            "description": "Folder ID (send null to unset)"
          }
        }
      },
      "AttachDocumentRequest": {
        "type": "object",
        "required": [
          "targetType",
          "targetId"
        ],
        "properties": {
          "targetType": {
            "type": "string",
            "enum": [
              "agent",
              "assistant"
            ],
            "description": "Type of entity to attach the document to"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the agent or assistant"
          }
        }
      },
      "DocumentVersion": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version number"
          },
          "markdownContent": {
            "type": "string",
            "description": "Content at this version"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp (ms)"
          },
          "changeType": {
            "type": "string",
            "description": "Type of change (created, updated, reverted)"
          },
          "changeDescription": {
            "type": "string",
            "description": "Human-readable change description"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this is the active version"
          }
        }
      },
      "DocumentFolder": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Folder ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID the folder is scoped to"
          },
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "parentFolderId": {
            "type": "string",
            "nullable": true,
            "description": "Parent folder ID"
          },
          "color": {
            "type": "string",
            "description": "Optional color tag"
          }
        }
      },
      "CreateFolderRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "projectId": {
            "type": "string",
            "description": "Optional project ID"
          },
          "parentFolderId": {
            "type": "string",
            "description": "Optional parent folder ID"
          },
          "color": {
            "type": "string",
            "description": "Optional color tag"
          }
        }
      },
      "UpdateFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "parentFolderId": {
            "type": "string",
            "nullable": true,
            "description": "Parent folder ID (send null to unset)"
          },
          "color": {
            "type": "string",
            "description": "Color tag"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation succeeded"
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Uploaded file name"
          },
          "downloadUrl": {
            "type": "string",
            "description": "Shareable URL to download the uploaded file"
          },
          "fileType": {
            "type": "string",
            "enum": [
              "image",
              "document",
              "audio",
              "video",
              "other"
            ],
            "description": "Detected file category"
          }
        }
      },
      "ThreadStatus": {
        "type": "string",
        "enum": [
          "RUNNING",
          "PAUSED",
          "COMPLETED",
          "FAILED",
          "AWAITING_APPROVAL"
        ],
        "description": "Current status of the thread"
      },
      "ApprovalStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "APPROVED",
          "REJECTED"
        ],
        "description": "Status of an execution awaiting approval"
      },
      "EvaluationStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "COMPLETED",
          "FAILED"
        ],
        "description": "Status of an evaluation run"
      },
      "AgentThreadMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "description": "Role of the message sender"
          },
          "content": {
            "type": "string",
            "description": "Content of the message"
          },
          "name": {
            "type": "string",
            "description": "Name of the tool or function (for tool messages)"
          },
          "tool_call_id": {
            "type": "string",
            "description": "Unique identifier for the tool call"
          }
        }
      },
      "AgentThread": {
        "type": "object",
        "required": [
          "id",
          "agentId",
          "status",
          "createdAt",
          "messages"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the thread"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the associated agent"
          },
          "status": {
            "$ref": "#/components/schemas/ThreadStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the thread was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the thread was last updated"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata associated with the thread"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentThreadMessage"
            },
            "description": "Messages exchanged in the thread"
          },
          "cost": {
            "type": "number",
            "format": "float",
            "description": "Total cost accumulated by this thread"
          }
        }
      },
      "CreateThreadRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentThreadMessage"
            },
            "description": "Initial messages for the thread"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata to associate with the thread"
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant (customer/organization) this thread belongs to in multi-tenant setups. Auto-registers the tenant on first use and attributes its cost/usage. See the Tenants endpoints."
          },
          "subtenantId": {
            "type": "string",
            "description": "End user/entity inside the tenant. When omitted it is derived from metadata.subtenantMetadata.id or the legacy metadata.userId. Used for per-subtenant cost attribution and usage limits."
          },
          "async": {
            "type": "boolean",
            "description": "Whether to execute the thread asynchronously",
            "default": false
          }
        }
      },
      "UpdateThreadRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ThreadStatus"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Updated metadata for the thread"
          }
        }
      },
      "ApprovalRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ApprovalStatus"
          },
          "comment": {
            "type": "string",
            "description": "Optional comment about the approval decision"
          }
        }
      },
      "EvaluationConfig": {
        "type": "object",
        "properties": {
          "evaluatorModel": {
            "type": "string",
            "description": "Identifier for the model used to evaluate the agent"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether automatic evaluation is enabled for this agent",
            "default": true
          },
          "threshold": {
            "type": "number",
            "format": "float",
            "description": "Threshold score for flagging evaluations",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "Evaluation": {
        "type": "object",
        "required": [
          "id",
          "threadId",
          "score",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the evaluation"
          },
          "threadId": {
            "type": "string",
            "format": "uuid",
            "description": "Identifier for the evaluated thread"
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "Evaluation score between 0 and 1"
          },
          "status": {
            "$ref": "#/components/schemas/EvaluationStatus"
          },
          "feedback": {
            "type": "string",
            "description": "Detailed feedback or explanation of the evaluation"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the evaluation was created"
          }
        }
      },
      "CostSummary": {
        "type": "object",
        "properties": {
          "totalCost": {
            "type": "number",
            "format": "float",
            "description": "Total cost accumulated by the agent"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)"
          },
          "breakdown": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "float"
            },
            "description": "Cost breakdown by category"
          }
        }
      },
      "CostEntry": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date for this cost entry"
          },
          "cost": {
            "type": "number",
            "format": "float",
            "description": "Cost incurred on this date"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)"
          }
        }
      },
      "AssistantSpecialization": {
        "type": "object",
        "required": [
          "identifier",
          "name",
          "createdAt"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique identifier for the assistant specialization"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the specialization"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of what the specialization does"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the specialization was created"
          }
        }
      },
      "CreateAssistantRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Assistant name",
            "example": "Customer Support Assistant"
          },
          "description": {
            "type": "string",
            "description": "Assistant description"
          },
          "presets": {
            "type": "string",
            "description": "System prompt / instructions"
          },
          "model": {
            "type": "string",
            "description": "Default LLM model"
          },
          "provider": {
            "type": "string",
            "description": "Default LLM provider"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the assistant"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "coming_soon"
            ],
            "description": "Assistant state"
          },
          "availableToolsGroupsUids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tool group UIDs the assistant can use"
          },
          "enabledTools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Explicit subset of enabled tool names"
          },
          "accessConfiguration": {
            "type": "object",
            "properties": {
              "externalAccess": {
                "type": "boolean"
              },
              "visibilityByRole": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "Access configuration"
          },
          "widgetConfiguration": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "sourcesWhiteList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "color": {
                "type": "string"
              },
              "welcomeMessage": {
                "type": "string"
              }
            },
            "description": "Widget configuration"
          },
          "memoryDocuments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Memory documents for RAG"
          },
          "structuredOutput": {
            "type": "object",
            "description": "Structured output JSON schema configuration"
          },
          "guardrailsConfiguration": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "guardrails": {
                "type": "object"
              }
            },
            "description": "Guardrails configuration"
          },
          "codeSnippetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Code snippet IDs"
          },
          "availableSkillIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Skill IDs the assistant can use"
          },
          "subagentsIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subagent IDs the assistant can invoke"
          },
          "maxChatMessages": {
            "type": "integer",
            "description": "Maximum chat messages in context"
          },
          "maxToolResponseInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens for tool responses"
          },
          "contextManagement": {
            "type": "object",
            "properties": {
              "fullContextTurnDepth": {
                "type": "integer",
                "description": "Number of most-recent turns sent to the model in full; older turns are replaced by their summary. 0 or omitted disables compression."
              },
              "alwaysIncludeUserMessages": {
                "type": "boolean",
                "description": "When true, user messages are always sent in full regardless of depth."
              }
            },
            "description": "Context depth control: summarize older turns to reduce the token footprint sent to the model."
          }
        }
      },
      "UpdateAssistantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Assistant name"
          },
          "description": {
            "type": "string",
            "description": "Assistant description"
          },
          "presets": {
            "type": "string",
            "description": "System prompt / instructions"
          },
          "model": {
            "type": "string",
            "description": "Default LLM model"
          },
          "provider": {
            "type": "string",
            "description": "Default LLM provider"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the assistant"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "coming_soon"
            ],
            "description": "Assistant state"
          },
          "availableToolsGroupsUids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tool group UIDs"
          },
          "enabledTools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Enabled tool names"
          },
          "accessConfiguration": {
            "type": "object",
            "properties": {
              "externalAccess": {
                "type": "boolean"
              },
              "visibilityByRole": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "widgetConfiguration": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "sourcesWhiteList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "color": {
                "type": "string"
              },
              "welcomeMessage": {
                "type": "string"
              }
            }
          },
          "memoryDocuments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "structuredOutput": {
            "type": "object"
          },
          "guardrailsConfiguration": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "guardrails": {
                "type": "object"
              }
            }
          },
          "codeSnippetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availableSkillIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subagentsIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxChatMessages": {
            "type": "integer"
          },
          "maxToolResponseInputTokens": {
            "type": "integer"
          },
          "contextManagement": {
            "type": "object",
            "properties": {
              "fullContextTurnDepth": {
                "type": "integer",
                "description": "Number of most-recent turns sent to the model in full; older turns are replaced by their summary. 0 or omitted disables compression."
              },
              "alwaysIncludeUserMessages": {
                "type": "boolean",
                "description": "When true, user messages are always sent in full regardless of depth."
              }
            },
            "description": "Context depth control: summarize older turns to reduce the token footprint sent to the model."
          }
        }
      },
      "AssistantDetailResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Assistant ID"
          },
          "identifier": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Assistant name"
          },
          "description": {
            "type": "string",
            "description": "Assistant description"
          },
          "presets": {
            "type": "string",
            "description": "System prompt / instructions"
          },
          "model": {
            "type": "string",
            "description": "Default LLM model"
          },
          "provider": {
            "type": "string",
            "description": "Default LLM provider"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL"
          },
          "state": {
            "type": "string",
            "description": "Assistant state"
          },
          "availableToolsGroupsUids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enabledTools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accessConfiguration": {
            "type": "object"
          },
          "widgetConfiguration": {
            "type": "object"
          },
          "memoryDocuments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "structuredOutput": {
            "type": "object"
          },
          "guardrailsConfiguration": {
            "type": "object"
          },
          "codeSnippetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availableSkillIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subagentsIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxChatMessages": {
            "type": "integer"
          },
          "maxToolResponseInputTokens": {
            "type": "integer"
          },
          "contextManagement": {
            "type": "object",
            "properties": {
              "fullContextTurnDepth": {
                "type": "integer",
                "description": "Number of most-recent turns sent to the model in full; older turns are replaced by their summary. 0 or omitted disables compression."
              },
              "alwaysIncludeUserMessages": {
                "type": "boolean",
                "description": "When true, user messages are always sent in full regardless of depth."
              }
            },
            "description": "Context depth control: summarize older turns to reduce the token footprint sent to the model."
          },
          "creationTimestampMs": {
            "type": "integer",
            "description": "Creation timestamp in milliseconds"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "description": "Last edit timestamp in milliseconds"
          }
        }
      },
      "DeleteAssistantResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success status"
          },
          "message": {
            "type": "string",
            "description": "Success or error message"
          },
          "deletedId": {
            "type": "string",
            "description": "Deleted assistant ID"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "description": "Role of the message sender"
          },
          "content": {
            "type": "string",
            "description": "Content of the message"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the message was sent"
          }
        }
      },
      "ChatHistory": {
        "type": "object",
        "required": [
          "chatUid",
          "assistantIdentifier",
          "createdAt",
          "messages"
        ],
        "properties": {
          "chatUid": {
            "type": "string",
            "description": "Unique identifier for the chat session"
          },
          "assistantIdentifier": {
            "type": "string",
            "description": "Identifier for the assistant specialization used"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the chat was created"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "Messages exchanged in the chat"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata associated with the chat"
          }
        }
      },
      "ProcessMessageRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "Messages to process, usually including the latest user message"
          },
          "chatUid": {
            "type": "string",
            "description": "Optional chat UID to continue an existing conversation"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata for this interaction"
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant (customer/organization) this conversation belongs to in multi-tenant setups. Auto-registers the tenant on first use and attributes its cost/usage. See the Tenants endpoints."
          },
          "subtenantId": {
            "type": "string",
            "description": "End user/entity inside the tenant. When omitted it is derived from metadata.subtenantMetadata.id or the legacy metadata.userId. Used for per-subtenant cost attribution and usage limits."
          }
        }
      },
      "FilterChatHistoriesRequest": {
        "type": "object",
        "properties": {
          "assistantIdentifier": {
            "type": "string",
            "description": "Filter by assistant specialization identifier"
          },
          "fromDate": {
            "type": "string",
            "format": "date",
            "description": "Start date for filtering chat histories"
          },
          "toDate": {
            "type": "string",
            "format": "date",
            "description": "End date for filtering chat histories"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Filter by metadata fields"
          }
        }
      },
      "HealthStatus": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "description": "Health status of the API"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the health status was checked"
          }
        }
      },
      "MarkdownDocument": {
        "type": "object",
        "required": [
          "filename",
          "content"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the markdown file"
          },
          "content": {
            "type": "string",
            "description": "Markdown content"
          }
        }
      },
      "MarkdownIndexEntry": {
        "type": "object",
        "required": [
          "filename",
          "title"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the markdown file"
          },
          "title": {
            "type": "string",
            "description": "Title of the document"
          },
          "summary": {
            "type": "string",
            "description": "Short summary of the document"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional details about the error"
          }
        }
      },
      "AssistantSpecializationConfig": {
        "type": "object",
        "description": "Configuration for the assistant specialization",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique identifier for the specialization"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "presets": {
            "type": "string",
            "description": "System prompt / instructions"
          },
          "availableToolsGroupsUids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tool group UIDs the agent can use"
          },
          "enabledTools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Explicit subset of enabled tool names"
          },
          "model": {
            "type": "string",
            "description": "Default LLM model"
          },
          "provider": {
            "type": "string",
            "description": "Default LLM provider"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the assistant"
          },
          "codeSnippetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Code snippet IDs available to the agent"
          },
          "availableSkillIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Skill IDs the agent can mount"
          },
          "subagentsIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subagent IDs the agent can invoke"
          },
          "maxChatMessages": {
            "type": "integer",
            "description": "Maximum number of chat messages to include in context"
          },
          "maxToolResponseInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens for tool responses"
          },
          "contextManagement": {
            "type": "object",
            "properties": {
              "fullContextTurnDepth": {
                "type": "integer",
                "description": "Number of most-recent turns sent to the model in full; older turns are replaced by their summary. 0 or omitted disables compression."
              },
              "alwaysIncludeUserMessages": {
                "type": "boolean",
                "description": "When true, user messages are always sent in full regardless of depth."
              }
            },
            "description": "Context depth control: summarize older turns to reduce the token footprint sent to the model."
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Agent name",
            "example": "Sales Assistant Agent"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the agent"
          },
          "assistantSpecialization": {
            "$ref": "#/components/schemas/AssistantSpecializationConfig"
          },
          "provider": {
            "type": "string",
            "description": "LLM provider override"
          },
          "llm": {
            "type": "string",
            "description": "LLM model name override"
          },
          "maxExecutionInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens per execution"
          },
          "maxExecutionToolCalls": {
            "type": "integer",
            "description": "Maximum tool calls per execution"
          },
          "maxExecutionFrequency": {
            "type": "integer",
            "description": "Maximum executions in a timeframe"
          },
          "executionFrequencyIntervalMs": {
            "type": "integer",
            "description": "Timeframe in milliseconds for execution frequency limit"
          },
          "concurrentExecutionLimit": {
            "type": "integer",
            "description": "Maximum concurrent executions"
          },
          "agentNotificationConfig": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "enableEmailNotification": {
                "type": "boolean"
              },
              "notifiedEmails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "approvalEmails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "evaluationConfig": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "customCriteria": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "disableDefaultEvaluation": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the agent"
          },
          "assistantSpecialization": {
            "$ref": "#/components/schemas/AssistantSpecializationConfig"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the agent is disabled"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the agent is archived"
          },
          "provider": {
            "type": "string",
            "description": "LLM provider override"
          },
          "llm": {
            "type": "string",
            "description": "LLM model name override"
          },
          "maxExecutionInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens per execution"
          },
          "maxExecutionToolCalls": {
            "type": "integer",
            "description": "Maximum tool calls per execution"
          },
          "agentNotificationConfig": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "enableEmailNotification": {
                "type": "boolean"
              },
              "notifiedEmails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "approvalEmails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "evaluationConfig": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "customCriteria": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "disableDefaultEvaluation": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the agent is disabled"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the agent is archived"
          },
          "provider": {
            "type": "string",
            "description": "LLM provider"
          },
          "llm": {
            "type": "string",
            "description": "LLM model name"
          },
          "assistantSpecialization": {
            "$ref": "#/components/schemas/AssistantSpecializationConfig"
          },
          "creationTimestampMs": {
            "type": "integer",
            "description": "Creation timestamp in milliseconds"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "description": "Last edit timestamp in milliseconds"
          },
          "maxExecutionInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens per execution"
          },
          "maxExecutionToolCalls": {
            "type": "integer",
            "description": "Maximum tool calls per execution"
          },
          "agentNotificationConfig": {
            "type": "object",
            "additionalProperties": true
          },
          "evaluationConfig": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PaginatedAgentsResponse": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentResponse"
            },
            "description": "Array of agents"
          },
          "total": {
            "type": "integer",
            "description": "Total count of agents"
          },
          "offset": {
            "type": "integer",
            "description": "Current page offset"
          },
          "limit": {
            "type": "integer",
            "description": "Items per page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more items"
          }
        }
      },
      "DeleteAgentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success status"
          },
          "message": {
            "type": "string",
            "description": "Success or error message"
          },
          "deletedId": {
            "type": "string",
            "description": "Deleted agent ID"
          }
        }
      },
      "ToolHeader": {
        "type": "object",
        "properties": {
          "headerName": {
            "type": "string",
            "description": "Header name"
          },
          "value": {
            "type": "string",
            "description": "Header value"
          }
        }
      },
      "AuthenticationConfig": {
        "type": "object",
        "properties": {
          "authenticationMethod": {
            "type": "string",
            "enum": [
              "jwt",
              "basic",
              "oauth2",
              "customHeader"
            ],
            "description": "Authentication method"
          },
          "jwt": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              }
            }
          },
          "basic": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            }
          },
          "oauth2": {
            "type": "object",
            "properties": {
              "refreshToken": {
                "type": "string"
              },
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              },
              "refreshTokenEndpoint": {
                "type": "string"
              },
              "grant_type": {
                "type": "string",
                "enum": [
                  "refresh_token",
                  "client_credentials"
                ]
              },
              "scope": {
                "type": "string"
              },
              "requestFormat": {
                "type": "string",
                "enum": [
                  "json",
                  "form"
                ]
              }
            }
          },
          "customHeader": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ToolHeader"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ToolHeader"
                }
              }
            ]
          }
        }
      },
      "McpServerProperties": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Server mode"
          },
          "slug": {
            "type": "string",
            "description": "Server slug (URL-friendly identifier)"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "Server status"
          }
        }
      },
      "ToolFunctionParameters": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Parameter type (usually 'object')"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            },
            "description": "Parameter properties definition"
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required parameter names"
          },
          "additionalProperties": {
            "type": "boolean",
            "description": "Whether additional properties are allowed"
          }
        }
      },
      "ToolFunction": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool function name (snake_case recommended)"
          },
          "description": {
            "type": "string",
            "description": "Tool function description"
          },
          "strict": {
            "type": "boolean",
            "description": "Whether the tool uses strict mode"
          },
          "parameters": {
            "$ref": "#/components/schemas/ToolFunctionParameters"
          }
        }
      },
      "ToolDefinition": {
        "type": "object",
        "required": [
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tool type (always 'function')"
          },
          "function": {
            "$ref": "#/components/schemas/ToolFunction"
          },
          "endpoint": {
            "type": "string",
            "description": "API endpoint for the tool"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH"
            ],
            "description": "HTTP method"
          },
          "queryParametersKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Query parameter keys"
          },
          "pathParametersKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path parameter keys"
          },
          "bodyPropertyKey": {
            "type": "string",
            "description": "Body property key for request body"
          },
          "customHeaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolHeader"
            },
            "description": "Custom headers for the tool"
          },
          "isFormDataBody": {
            "type": "boolean",
            "description": "Whether the body is form data"
          },
          "bodyMode": {
            "type": "string",
            "enum": [
              "simple",
              "advanced"
            ],
            "description": "Body mode"
          },
          "bodyJsonTemplate": {
            "type": "string",
            "description": "JSON body template for advanced mode"
          },
          "responsePostProcessingEnabled": {
            "type": "boolean",
            "description": "Whether response post-processing is enabled"
          },
          "responsePostProcessingTemplate": {
            "type": "string",
            "description": "JS expression template for response post-processing"
          }
        }
      },
      "CreateToolServerRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool server name"
          },
          "description": {
            "type": "string",
            "description": "Tool server description"
          },
          "url": {
            "type": "string",
            "description": "Base URL for the tool server API"
          },
          "identifier": {
            "type": "string",
            "description": "Tool server identifier (URL-friendly)"
          },
          "enabled": {
            "type": "boolean",
            "default": true,
            "description": "Whether the tool server is enabled"
          },
          "mcpType": {
            "type": "boolean",
            "description": "Whether this is an MCP type server"
          },
          "mcpServerProperties": {
            "$ref": "#/components/schemas/McpServerProperties"
          },
          "authenticationConfig": {
            "$ref": "#/components/schemas/AuthenticationConfig"
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL for the tool server"
          },
          "toolServerDefinitionId": {
            "type": "string",
            "description": "Tool server definition ID to link to an existing definition"
          },
          "toolDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            },
            "description": "Array of tool definitions"
          }
        }
      },
      "UpdateToolServerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool server name"
          },
          "description": {
            "type": "string",
            "description": "Tool server description"
          },
          "url": {
            "type": "string",
            "description": "Base URL for the tool server API"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the tool server is enabled"
          },
          "mcpServerProperties": {
            "$ref": "#/components/schemas/McpServerProperties"
          },
          "authenticationConfig": {
            "$ref": "#/components/schemas/AuthenticationConfig"
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL for the tool server"
          },
          "toolDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            },
            "description": "Array of tool definitions"
          }
        }
      },
      "ToolServerResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Tool server ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the tool server is enabled"
          },
          "url": {
            "type": "string",
            "description": "Base URL"
          },
          "identifier": {
            "type": "string",
            "description": "Tool server identifier"
          },
          "name": {
            "type": "string",
            "description": "Tool server name"
          },
          "description": {
            "type": "string",
            "description": "Tool server description"
          },
          "mcpType": {
            "type": "boolean",
            "description": "Whether this is an MCP type server"
          },
          "mcpServerProperties": {
            "$ref": "#/components/schemas/McpServerProperties"
          },
          "toolServerDefinitionId": {
            "type": "string",
            "description": "Tool server definition ID"
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL"
          },
          "creartionTimestampMs": {
            "type": "integer",
            "description": "Creation timestamp in milliseconds"
          },
          "lastEditTimestampMS": {
            "type": "integer",
            "description": "Last edit timestamp in milliseconds"
          }
        }
      },
      "ToolServerDefinitionResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Definition ID"
          },
          "name": {
            "type": "string",
            "description": "Definition name"
          },
          "description": {
            "type": "string",
            "description": "Definition description"
          },
          "toolDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            },
            "description": "Array of tool definitions"
          }
        }
      },
      "ToolServerWithDefinitionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ToolServerResponse"
          },
          {
            "type": "object",
            "properties": {
              "toolServerDefinition": {
                "$ref": "#/components/schemas/ToolServerDefinitionResponse"
              }
            }
          }
        ]
      },
      "PaginatedToolServersResponse": {
        "type": "object",
        "properties": {
          "toolServers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolServerResponse"
            },
            "description": "Array of tool servers"
          },
          "total": {
            "type": "integer",
            "description": "Total count"
          },
          "offset": {
            "type": "integer",
            "description": "Current offset"
          },
          "limit": {
            "type": "integer",
            "description": "Items per page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more items"
          }
        }
      },
      "ToolListResponse": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            },
            "description": "Array of tool definitions"
          },
          "total": {
            "type": "integer",
            "description": "Total count of tools"
          }
        }
      },
      "AddToolRequest": {
        "type": "object",
        "required": [
          "tool"
        ],
        "properties": {
          "tool": {
            "$ref": "#/components/schemas/ToolDefinition",
            "description": "Tool definition to add"
          }
        }
      },
      "UpdateToolRequest": {
        "type": "object",
        "properties": {
          "function": {
            "$ref": "#/components/schemas/ToolFunction"
          },
          "endpoint": {
            "type": "string",
            "description": "API endpoint for the tool"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH"
            ],
            "description": "HTTP method"
          },
          "queryParametersKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Query parameter keys"
          },
          "pathParametersKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path parameter keys"
          },
          "bodyPropertyKey": {
            "type": "string",
            "description": "Body property key"
          },
          "customHeaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolHeader"
            },
            "description": "Custom headers"
          },
          "isFormDataBody": {
            "type": "boolean",
            "description": "Whether the body is form data"
          },
          "bodyMode": {
            "type": "string",
            "enum": [
              "simple",
              "advanced"
            ],
            "description": "Body mode"
          },
          "bodyJsonTemplate": {
            "type": "string",
            "description": "JSON body template"
          },
          "responsePostProcessingEnabled": {
            "type": "boolean",
            "description": "Whether response post-processing is enabled"
          },
          "responsePostProcessingTemplate": {
            "type": "string",
            "description": "Response post-processing template"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the deletion was successful"
          },
          "message": {
            "type": "string",
            "description": "Deletion message"
          },
          "deletedId": {
            "type": "string",
            "description": "Deleted resource ID"
          }
        }
      },
      "TestToolCallRequest": {
        "type": "object",
        "required": [
          "parameters"
        ],
        "properties": {
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Parameters object to pass to the tool"
          }
        }
      },
      "TestToolCallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the tool call was successful"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Tool call result data"
          },
          "error": {
            "type": "string",
            "description": "Error message if the call failed"
          },
          "executionTimeMs": {
            "type": "integer",
            "description": "Execution time in milliseconds"
          },
          "requestUrl": {
            "type": "string",
            "description": "The URL that was called"
          },
          "requestMethod": {
            "type": "string",
            "description": "The HTTP method used"
          }
        }
      },
      "AddCoreMemoryEntryDto": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The standing entry text"
          },
          "section": {
            "type": "string",
            "description": "Target section (defaults to the module's general section)",
            "example": "profile"
          },
          "pinned": {
            "type": "boolean",
            "description": "Pin the entry: kept first in the render budget, untouchable by the assistant"
          }
        },
        "required": [
          "content"
        ]
      },
      "AddThreadMessageDto": {
        "type": "object",
        "properties": {
          "message": {
            "description": "The user message to append to the thread to continue it (string or object). Behaviour depends on the current thread state: a running/queued thread receives it on its next turn (after the pending tool response); a completed/failed/waiting thread is re-queued to run again with the message appended.",
            "example": "Also include a summary of the previous steps",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object"
              }
            ]
          }
        },
        "required": [
          "message"
        ]
      },
      "AuthFieldDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Send it under this name",
            "example": "generic_api_key"
          },
          "label": {
            "type": "string",
            "description": "Human-readable name",
            "example": "API key"
          },
          "type": {
            "type": "string",
            "example": "string"
          },
          "required": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "description": "The provider's own explanation"
          },
          "default": {
            "type": "string",
            "description": "Prefilled value, when the provider suggests one"
          },
          "secret": {
            "type": "boolean",
            "description": "Holds a credential: mask it on screen and keep it out of logs"
          }
        },
        "required": [
          "name",
          "label",
          "type",
          "required",
          "secret"
        ]
      },
      "AuthSchemeDto": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "The provider's own name for it",
            "example": "API_KEY"
          },
          "composioManaged": {
            "type": "boolean",
            "description": "The integration provider holds credentials for this app, so `appCredentials` can be omitted. False for most of the catalog"
          },
          "redirect": {
            "type": "boolean",
            "description": "Connecting returns an authorizationUrl to open in a browser"
          },
          "appFields": {
            "description": "Credentials of your own application with the provider, registered once for the workspace. Empty when composioManaged",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthFieldDto"
            }
          },
          "accountFields": {
            "description": "What the account being connected supplies: its API key, its subdomain",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthFieldDto"
            }
          },
          "guideUrl": {
            "type": "string",
            "description": "The provider's setup guide"
          }
        },
        "required": [
          "mode",
          "composioManaged",
          "redirect",
          "appFields",
          "accountFields"
        ]
      },
      "ConnectIntegrationDto": {
        "type": "object",
        "properties": {
          "authScheme": {
            "type": "string",
            "description": "Which scheme to connect through, from GET /integrations/:app/auth. Defaults to the one asking for least setup",
            "example": "API_KEY"
          },
          "appCredentials": {
            "type": "object",
            "description": "Credentials of your own application with the provider, keyed by the scheme's appFields. Needed once per workspace for apps the integration provider holds no credentials for; ignored afterwards",
            "example": {
              "client_id": "…",
              "client_secret": "…"
            }
          },
          "accountFields": {
            "type": "object",
            "description": "What this account supplies, keyed by the scheme's accountFields — an API key, the subdomain of your instance",
            "example": {
              "generic_api_key": "pplx-…"
            }
          }
        }
      },
      "ConnectIntegrationResponseDto": {
        "type": "object",
        "properties": {
          "connected": {
            "type": "boolean",
            "description": "True when the account is connected already — API-key apps have nothing to authorise, so no browser is involved"
          },
          "authorizationUrl": {
            "type": "string",
            "description": "Open this URL in a browser to authorise the account. Absent when connected is already true"
          }
        },
        "required": [
          "connected"
        ]
      },
      "ConnectMyAccountDto": {
        "type": "object",
        "properties": {
          "authScheme": {
            "type": "string",
            "description": "Which scheme to connect through, from GET /:app/auth",
            "example": "API_KEY"
          },
          "accountFields": {
            "type": "object",
            "description": "What this account supplies, keyed by the scheme's accountFields",
            "example": {
              "generic_api_key": "fc-…"
            }
          }
        }
      },
      "ConnectedIntegrationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Integration id (use it for tools management)"
          },
          "name": {
            "type": "string",
            "example": "Gmail"
          },
          "app": {
            "type": "string",
            "description": "App slug",
            "example": "gmail"
          },
          "connected": {
            "type": "boolean",
            "description": "Whether an account is linked"
          },
          "exposedToolCount": {
            "type": "number",
            "description": "How many tools it exposes. Absent means all of the app’s."
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "app",
          "connected"
        ]
      },
      "CreateIntegrationServerDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool server name. Defaults to the app name."
          },
          "tools": {
            "description": "Tool slugs to expose. Empty or omitted exposes every tool the app has (a large prompt — narrowing is recommended).",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateTriggerDto": {
        "type": "object",
        "properties": {
          "toolServerId": {
            "type": "string",
            "description": "The app-integration tool server whose events this listens to"
          },
          "agentId": {
            "type": "string",
            "description": "Agent to start. Exactly one of agentId / assistantId is required."
          },
          "assistantId": {
            "type": "string",
            "description": "Assistant to start. Exactly one of agentId / assistantId is required."
          },
          "triggerSlug": {
            "type": "string",
            "description": "Trigger type slug (from GET /integrations/:app/triggers)",
            "example": "GMAIL_NEW_GMAIL_MESSAGE"
          },
          "triggerConfig": {
            "type": "object",
            "description": "Values for the trigger type's config JSON Schema"
          },
          "name": {
            "type": "string"
          },
          "messageTemplate": {
            "type": "string",
            "description": "Template rendering the event into the message. Empty ⇒ raw event JSON."
          },
          "chatUidTemplate": {
            "type": "string",
            "description": "Assistants only: stable chat id template so related events share a conversation"
          },
          "newThreadsState": {
            "type": "string",
            "description": "Agents only: initial thread state",
            "enum": [
              "queued",
              "paused"
            ]
          },
          "rateLimitPerMinute": {
            "type": "number",
            "description": "Per-trigger events/minute ceiling"
          }
        },
        "required": [
          "toolServerId",
          "triggerSlug"
        ]
      },
      "DocumentResponseDto": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "fileName": {
            "type": "string",
            "description": "File name (with extension)"
          },
          "fileType": {
            "type": "string",
            "description": "File type",
            "enum": [
              "md",
              "pdf",
              "txt",
              "docx"
            ]
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type"
          },
          "size": {
            "type": "number",
            "description": "File size in bytes"
          },
          "status": {
            "type": "string",
            "description": "Status",
            "enum": [
              "pending",
              "ready",
              "failed"
            ]
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content (for md docs)"
          },
          "summary": {
            "type": "string",
            "description": "Auto-generated summary"
          },
          "tokenCount": {
            "type": "number",
            "description": "Token count"
          },
          "currentVersion": {
            "type": "number",
            "description": "Current version number"
          },
          "folderId": {
            "type": "string",
            "description": "Folder ID"
          },
          "parentDocumentId": {
            "type": "string",
            "description": "Parent document ID"
          },
          "createdByUserUID": {
            "type": "string",
            "description": "Created by user UID"
          },
          "creationTimestampMs": {
            "type": "number",
            "description": "Creation timestamp (ms)"
          },
          "lastEditTimestampMs": {
            "type": "number",
            "description": "Last edit timestamp (ms)"
          },
          "versionCreated": {
            "type": "boolean",
            "description": "Only present on update responses. True when the update changed the content and created a new version; false when the update was a no-op or only touched metadata."
          },
          "isSkill": {
            "type": "boolean",
            "description": "True when the document is a skill"
          },
          "tags": {
            "description": "Category tags",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FeedbackResponseDto": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "64f5a5b8c123456789abcdef"
          },
          "requestId": {
            "type": "string",
            "example": "msg-123456"
          },
          "chatUID": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "threadId": {
            "type": "string",
            "example": "64f5a5b8c123456789abcdef"
          },
          "feedback": {
            "type": "boolean",
            "example": true
          },
          "feedbackComment": {
            "type": "string",
            "example": "This was very helpful!"
          },
          "feedbackData": {
            "type": "object"
          },
          "creationTimestamp": {
            "type": "string",
            "example": "2024-01-15T10:30:00.000Z"
          },
          "lastEditTimestamp": {
            "type": "string",
            "example": "2024-01-15T11:00:00.000Z"
          }
        },
        "required": [
          "_id",
          "requestId",
          "feedback",
          "creationTimestamp"
        ]
      },
      "IntegrationAuthDto": {
        "type": "object",
        "properties": {
          "schemes": {
            "description": "The ways this app can be connected. Empty when it needs no account at all",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthSchemeDto"
            }
          }
        },
        "required": [
          "schemes"
        ]
      },
      "IntegrationConnectionStatusDto": {
        "type": "object",
        "properties": {
          "connected": {
            "type": "boolean",
            "description": "Whether an active account for this app exists on the workspace"
          }
        },
        "required": [
          "connected"
        ]
      },
      "IntegrationDto": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "App slug — the key to connect it",
            "example": "gmail"
          },
          "name": {
            "type": "string",
            "example": "Gmail"
          },
          "logo": {
            "type": "string",
            "description": "Logo URL"
          },
          "description": {
            "type": "string"
          },
          "noAuth": {
            "type": "boolean",
            "description": "True when the app needs no user connection"
          }
        },
        "required": [
          "slug",
          "name"
        ]
      },
      "IntegrationPageDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationDto"
            }
          },
          "totalItems": {
            "type": "number",
            "description": "Total apps in the catalogue",
            "example": 1200
          },
          "nextCursor": {
            "type": "string",
            "description": "Token for the next page, when more exist"
          }
        },
        "required": [
          "items",
          "totalItems"
        ]
      },
      "ModelInterfaceToolCallResponseDto": {
        "type": "object",
        "properties": {
          "tool_call_id": {
            "type": "string",
            "example": "call_abc123",
            "description": "The ID of the tool call being responded to"
          },
          "content": {
            "type": "object",
            "example": {
              "latitude": 40.7128,
              "longitude": -74.006
            },
            "description": "The result of the tool execution"
          },
          "role": {
            "type": "string",
            "example": "tool",
            "description": "Role (always \"tool\")"
          }
        },
        "required": [
          "tool_call_id",
          "content",
          "role"
        ]
      },
      "PublicSearchHitDto": {
        "type": "object",
        "properties": {
          "messageUid": {
            "type": "string",
            "description": "Unique id of the matching message within the conversation"
          },
[...]
