{
  "openapi": "3.0.0",
  "info": {
    "title": "Devic.ai Public API",
    "description": "Devic.ai is an AI platform that allows you to create, manage, and use AI agents for various tasks.",
    "version": "1.0.0",
    "contact": {
      "name": "Devic.ai Support",
      "url": "https://devic.ai"
    },
    "x-logo": {
      "url": "https://devic.ai/logo.png",
      "altText": "Devic.ai Logo"
    },
    "x-summary": "Public API for interacting with Devic.ai platform"
  },
  "tags": [
    {
      "name": "Projects",
      "description": "Group agents, assistants, documents and costs into projects"
    },
    {
      "name": "Documents",
      "description": "Knowledge base documents: create, version, attach and index markdown content for RAG"
    },
    {
      "name": "Document Folders",
      "description": "Organise knowledge base documents into folders and attach them in bulk"
    },
    {
      "name": "Files",
      "description": "Upload files and obtain shareable download URLs to attach to messages"
    },
    {
      "name": "Agents",
      "description": "Endpoints related to AI agents and their operations"
    },
    {
      "name": "Assistants",
      "description": "Endpoints for interacting with assistants and their specializations"
    },
    {
      "name": "Tool Servers",
      "description": "Endpoints for managing tool servers and their tool definitions"
    },
    {
      "name": "Health",
      "description": "API health check endpoints"
    },
    {
      "name": "Documentation",
      "description": "Endpoints for retrieving markdown documentation"
    }
  ],
  "servers": [
    {
      "url": "https://api.devic.ai",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.devic.ai",
      "description": "Staging server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Use JWT token for authentication"
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Project ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "identifier": {
            "type": "string",
            "description": "Unique identifier (lowercase alphanumeric with hyphens)"
          },
          "description": {
            "type": "string",
            "description": "Project description"
          },
          "imageUrl": {
            "type": "string",
            "description": "Project image URL"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Project visibility"
          },
          "createdByUserUID": {
            "type": "string",
            "description": "UID of the user that created the project"
          },
          "creationTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp (ms)"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Last edit timestamp (ms)"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the project is archived"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name",
          "identifier"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "identifier": {
            "type": "string",
            "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
            "description": "Unique identifier (lowercase alphanumeric with hyphens, e.g. \"my-project-1\")"
          },
          "description": {
            "type": "string",
            "description": "Project description"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "default": "private",
            "description": "Project visibility"
          }
        }
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "description": {
            "type": "string",
            "description": "Project description"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Project visibility"
          },
          "archived": {
            "type": "boolean",
            "description": "Archive the project"
          },
          "imageUrl": {
            "type": "string",
            "description": "Project image URL"
          }
        }
      },
      "PaginatedProjects": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of projects"
          }
        }
      },
      "KnowledgeDocument": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "description": "Project ID the document is scoped to"
          },
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "fileName": {
            "type": "string",
            "description": "File name (with extension)"
          },
          "fileType": {
            "type": "string",
            "enum": [
              "md",
              "pdf",
              "txt",
              "docx"
            ],
            "description": "File type"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready",
              "failed"
            ],
            "description": "Processing / indexing status"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content (for markdown documents)"
          },
          "summary": {
            "type": "string",
            "description": "Auto-generated summary"
          },
          "tokenCount": {
            "type": "integer",
            "description": "Token count"
          },
          "currentVersion": {
            "type": "integer",
            "description": "Current version number"
          },
          "folderId": {
            "type": "string",
            "nullable": true,
            "description": "Folder ID the document is filed in"
          },
          "parentDocumentId": {
            "type": "string",
            "nullable": true,
            "description": "Parent document ID (for subdocuments referenced via @ mentions)"
          },
          "createdByUserUID": {
            "type": "string",
            "description": "UID of the user that created the document"
          },
          "creationTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp (ms)"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "format": "int64",
            "description": "Last edit timestamp (ms)"
          }
        }
      },
      "PaginatedDocuments": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeDocument"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of documents matching the query"
          }
        }
      },
      "CreateMarkdownDocumentRequest": {
        "type": "object",
        "required": [
          "name",
          "markdownContent"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Document name (without extension)"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content to store and index for RAG"
          },
          "projectId": {
            "type": "string",
            "description": "Optional project ID to scope the document"
          },
          "parentDocumentId": {
            "type": "string",
            "description": "Optional parent document ID (for subdocuments referenced via @ mentions)"
          },
          "folderId": {
            "type": "string",
            "description": "Optional folder ID to file the document"
          }
        }
      },
      "UpdateDocumentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "summary": {
            "type": "string",
            "description": "Document summary"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown content (creates a new version when it changes)"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "description": "Project ID (send null to unset)"
          },
          "parentDocumentId": {
            "type": "string",
            "nullable": true,
            "description": "Parent document ID (send null to unset)"
          },
          "folderId": {
            "type": "string",
            "nullable": true,
            "description": "Folder ID (send null to unset)"
          }
        }
      },
      "AttachDocumentRequest": {
        "type": "object",
        "required": [
          "targetType",
          "targetId"
        ],
        "properties": {
          "targetType": {
            "type": "string",
            "enum": [
              "agent",
              "assistant"
            ],
            "description": "Type of entity to attach the document to"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the agent or assistant"
          }
        }
      },
      "DocumentVersion": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version number"
          },
          "markdownContent": {
            "type": "string",
            "description": "Content at this version"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp (ms)"
          },
          "changeType": {
            "type": "string",
            "description": "Type of change (created, updated, reverted)"
          },
          "changeDescription": {
            "type": "string",
            "description": "Human-readable change description"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this is the active version"
          }
        }
      },
      "DocumentFolder": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Folder ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID the folder is scoped to"
          },
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "parentFolderId": {
            "type": "string",
            "nullable": true,
            "description": "Parent folder ID"
          },
          "color": {
            "type": "string",
            "description": "Optional color tag"
          }
        }
      },
      "CreateFolderRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "projectId": {
            "type": "string",
            "description": "Optional project ID"
          },
          "parentFolderId": {
            "type": "string",
            "description": "Optional parent folder ID"
          },
          "color": {
            "type": "string",
            "description": "Optional color tag"
          }
        }
      },
      "UpdateFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "parentFolderId": {
            "type": "string",
            "nullable": true,
            "description": "Parent folder ID (send null to unset)"
          },
          "color": {
            "type": "string",
            "description": "Color tag"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation succeeded"
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Uploaded file name"
          },
          "downloadUrl": {
            "type": "string",
            "description": "Shareable URL to download the uploaded file"
          },
          "fileType": {
            "type": "string",
            "enum": [
              "image",
              "document",
              "audio",
              "video",
              "other"
            ],
            "description": "Detected file category"
          }
        }
      },
      "ThreadStatus": {
        "type": "string",
        "enum": [
          "RUNNING",
          "PAUSED",
          "COMPLETED",
          "FAILED",
          "AWAITING_APPROVAL"
        ],
        "description": "Current status of the thread"
      },
      "ApprovalStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "APPROVED",
          "REJECTED"
        ],
        "description": "Status of an execution awaiting approval"
      },
      "EvaluationStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "COMPLETED",
          "FAILED"
        ],
        "description": "Status of an evaluation run"
      },
      "AgentThreadMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "description": "Role of the message sender"
          },
          "content": {
            "type": "string",
            "description": "Content of the message"
          },
          "name": {
            "type": "string",
            "description": "Name of the tool or function (for tool messages)"
          },
          "tool_call_id": {
            "type": "string",
            "description": "Unique identifier for the tool call"
          }
        }
      },
      "AgentThread": {
        "type": "object",
        "required": [
          "id",
          "agentId",
          "status",
          "createdAt",
          "messages"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the thread"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the associated agent"
          },
          "status": {
            "$ref": "#/components/schemas/ThreadStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the thread was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the thread was last updated"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata associated with the thread"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentThreadMessage"
            },
            "description": "Messages exchanged in the thread"
          },
          "cost": {
            "type": "number",
            "format": "float",
            "description": "Total cost accumulated by this thread"
          }
        }
      },
      "CreateThreadRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentThreadMessage"
            },
            "description": "Initial messages for the thread"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata to associate with the thread"
          },
          "async": {
            "type": "boolean",
            "description": "Whether to execute the thread asynchronously",
            "default": false
          }
        }
      },
      "UpdateThreadRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ThreadStatus"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Updated metadata for the thread"
          }
        }
      },
      "ApprovalRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ApprovalStatus"
          },
          "comment": {
            "type": "string",
            "description": "Optional comment about the approval decision"
          }
        }
      },
      "EvaluationConfig": {
        "type": "object",
        "properties": {
          "evaluatorModel": {
            "type": "string",
            "description": "Identifier for the model used to evaluate the agent"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether automatic evaluation is enabled for this agent",
            "default": true
          },
          "threshold": {
            "type": "number",
            "format": "float",
            "description": "Threshold score for flagging evaluations",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "Evaluation": {
        "type": "object",
        "required": [
          "id",
          "threadId",
          "score",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the evaluation"
          },
          "threadId": {
            "type": "string",
            "format": "uuid",
            "description": "Identifier for the evaluated thread"
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "Evaluation score between 0 and 1"
          },
          "status": {
            "$ref": "#/components/schemas/EvaluationStatus"
          },
          "feedback": {
            "type": "string",
            "description": "Detailed feedback or explanation of the evaluation"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the evaluation was created"
          }
        }
      },
      "CostSummary": {
        "type": "object",
        "properties": {
          "totalCost": {
            "type": "number",
            "format": "float",
            "description": "Total cost accumulated by the agent"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)"
          },
          "breakdown": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "float"
            },
            "description": "Cost breakdown by category"
          }
        }
      },
      "CostEntry": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date for this cost entry"
          },
          "cost": {
            "type": "number",
            "format": "float",
            "description": "Cost incurred on this date"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)"
          }
        }
      },
      "AssistantSpecialization": {
        "type": "object",
        "required": [
          "identifier",
          "name",
          "createdAt"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique identifier for the assistant specialization"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the specialization"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of what the specialization does"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the specialization was created"
          }
        }
      },
      "CreateAssistantRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "description": "Assistant name", "example": "Customer Support Assistant" },
          "description": { "type": "string", "description": "Assistant description" },
          "presets": { "type": "string", "description": "System prompt / instructions" },
          "model": { "type": "string", "description": "Default LLM model" },
          "provider": { "type": "string", "description": "Default LLM provider" },
          "imgUrl": { "type": "string", "description": "Image URL for the assistant" },
          "state": { "type": "string", "enum": ["active", "inactive", "coming_soon"], "description": "Assistant state" },
          "availableToolsGroupsUids": { "type": "array", "items": { "type": "string" }, "description": "Tool group UIDs the assistant can use" },
          "enabledTools": { "type": "array", "items": { "type": "string" }, "description": "Explicit subset of enabled tool names" },
          "accessConfiguration": {
            "type": "object",
            "properties": {
              "externalAccess": { "type": "boolean" },
              "visibilityByRole": { "type": "array", "items": { "type": "string" } }
            },
            "description": "Access configuration"
          },
          "widgetConfiguration": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "sourcesWhiteList": { "type": "array", "items": { "type": "string" } },
              "color": { "type": "string" },
              "welcomeMessage": { "type": "string" }
            },
            "description": "Widget configuration"
          },
          "memoryDocuments": { "type": "array", "items": { "type": "object" }, "description": "Memory documents for RAG" },
          "structuredOutput": { "type": "object", "description": "Structured output JSON schema configuration" },
          "guardrailsConfiguration": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "guardrails": { "type": "object" }
            },
            "description": "Guardrails configuration"
          },
          "codeSnippetIds": { "type": "array", "items": { "type": "string" }, "description": "Code snippet IDs" },
          "availableSkillIds": { "type": "array", "items": { "type": "string" }, "description": "Skill IDs the assistant can use" },
          "subagentsIds": { "type": "array", "items": { "type": "string" }, "description": "Subagent IDs the assistant can invoke" },
          "maxChatMessages": { "type": "integer", "description": "Maximum chat messages in context" },
          "maxToolResponseInputTokens": { "type": "integer", "description": "Maximum input tokens for tool responses" }
        }
      },
      "UpdateAssistantRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Assistant name" },
          "description": { "type": "string", "description": "Assistant description" },
          "presets": { "type": "string", "description": "System prompt / instructions" },
          "model": { "type": "string", "description": "Default LLM model" },
          "provider": { "type": "string", "description": "Default LLM provider" },
          "imgUrl": { "type": "string", "description": "Image URL for the assistant" },
          "state": { "type": "string", "enum": ["active", "inactive", "coming_soon"], "description": "Assistant state" },
          "availableToolsGroupsUids": { "type": "array", "items": { "type": "string" }, "description": "Tool group UIDs" },
          "enabledTools": { "type": "array", "items": { "type": "string" }, "description": "Enabled tool names" },
          "accessConfiguration": {
            "type": "object",
            "properties": {
              "externalAccess": { "type": "boolean" },
              "visibilityByRole": { "type": "array", "items": { "type": "string" } }
            }
          },
          "widgetConfiguration": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "sourcesWhiteList": { "type": "array", "items": { "type": "string" } },
              "color": { "type": "string" },
              "welcomeMessage": { "type": "string" }
            }
          },
          "memoryDocuments": { "type": "array", "items": { "type": "object" } },
          "structuredOutput": { "type": "object" },
          "guardrailsConfiguration": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "guardrails": { "type": "object" }
            }
          },
          "codeSnippetIds": { "type": "array", "items": { "type": "string" } },
          "availableSkillIds": { "type": "array", "items": { "type": "string" } },
          "subagentsIds": { "type": "array", "items": { "type": "string" } },
          "maxChatMessages": { "type": "integer" },
          "maxToolResponseInputTokens": { "type": "integer" }
        }
      },
      "AssistantDetailResponse": {
        "type": "object",
        "properties": {
          "_id": { "type": "string", "description": "Assistant ID" },
          "identifier": { "type": "string", "description": "Unique identifier" },
          "name": { "type": "string", "description": "Assistant name" },
          "description": { "type": "string", "description": "Assistant description" },
          "presets": { "type": "string", "description": "System prompt / instructions" },
          "model": { "type": "string", "description": "Default LLM model" },
          "provider": { "type": "string", "description": "Default LLM provider" },
          "imgUrl": { "type": "string", "description": "Image URL" },
          "state": { "type": "string", "description": "Assistant state" },
          "availableToolsGroupsUids": { "type": "array", "items": { "type": "string" } },
          "enabledTools": { "type": "array", "items": { "type": "string" } },
          "accessConfiguration": { "type": "object" },
          "widgetConfiguration": { "type": "object" },
          "memoryDocuments": { "type": "array", "items": { "type": "object" } },
          "structuredOutput": { "type": "object" },
          "guardrailsConfiguration": { "type": "object" },
          "codeSnippetIds": { "type": "array", "items": { "type": "string" } },
          "availableSkillIds": { "type": "array", "items": { "type": "string" } },
          "subagentsIds": { "type": "array", "items": { "type": "string" } },
          "maxChatMessages": { "type": "integer" },
          "maxToolResponseInputTokens": { "type": "integer" },
          "creationTimestampMs": { "type": "integer", "description": "Creation timestamp in milliseconds" },
          "lastEditTimestampMs": { "type": "integer", "description": "Last edit timestamp in milliseconds" }
        }
      },
      "DeleteAssistantResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "description": "Success status" },
          "message": { "type": "string", "description": "Success or error message" },
          "deletedId": { "type": "string", "description": "Deleted assistant ID" }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "description": "Role of the message sender"
          },
          "content": {
            "type": "string",
            "description": "Content of the message"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the message was sent"
          }
        }
      },
      "ChatHistory": {
        "type": "object",
        "required": [
          "chatUid",
          "assistantIdentifier",
          "createdAt",
          "messages"
        ],
        "properties": {
          "chatUid": {
            "type": "string",
            "description": "Unique identifier for the chat session"
          },
          "assistantIdentifier": {
            "type": "string",
            "description": "Identifier for the assistant specialization used"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the chat was created"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "Messages exchanged in the chat"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata associated with the chat"
          }
        }
      },
      "ProcessMessageRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "Messages to process, usually including the latest user message"
          },
          "chatUid": {
            "type": "string",
            "description": "Optional chat UID to continue an existing conversation"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom metadata for this interaction"
          }
        }
      },
      "FilterChatHistoriesRequest": {
        "type": "object",
        "properties": {
          "assistantIdentifier": {
            "type": "string",
            "description": "Filter by assistant specialization identifier"
          },
          "fromDate": {
            "type": "string",
            "format": "date",
            "description": "Start date for filtering chat histories"
          },
          "toDate": {
            "type": "string",
            "format": "date",
            "description": "End date for filtering chat histories"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Filter by metadata fields"
          }
        }
      },
      "HealthStatus": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "description": "Health status of the API"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the health status was checked"
          }
        }
      },
      "MarkdownDocument": {
        "type": "object",
        "required": [
          "filename",
          "content"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the markdown file"
          },
          "content": {
            "type": "string",
            "description": "Markdown content"
          }
        }
      },
      "MarkdownIndexEntry": {
        "type": "object",
        "required": [
          "filename",
          "title"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the markdown file"
          },
          "title": {
            "type": "string",
            "description": "Title of the document"
          },
          "summary": {
            "type": "string",
            "description": "Short summary of the document"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional details about the error"
          }
        }
      },
      "AssistantSpecializationConfig": {
        "type": "object",
        "description": "Configuration for the assistant specialization",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique identifier for the specialization"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "presets": {
            "type": "string",
            "description": "System prompt / instructions"
          },
          "availableToolsGroupsUids": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Tool group UIDs the agent can use"
          },
          "enabledTools": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Explicit subset of enabled tool names"
          },
          "model": {
            "type": "string",
            "description": "Default LLM model"
          },
          "provider": {
            "type": "string",
            "description": "Default LLM provider"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the assistant"
          },
          "codeSnippetIds": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Code snippet IDs available to the agent"
          },
          "availableSkillIds": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Skill IDs the agent can mount"
          },
          "subagentsIds": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Subagent IDs the agent can invoke"
          },
          "maxChatMessages": {
            "type": "integer",
            "description": "Maximum number of chat messages to include in context"
          },
          "maxToolResponseInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens for tool responses"
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Agent name",
            "example": "Sales Assistant Agent"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the agent"
          },
          "assistantSpecialization": {
            "$ref": "#/components/schemas/AssistantSpecializationConfig"
          },
          "provider": {
            "type": "string",
            "description": "LLM provider override"
          },
          "llm": {
            "type": "string",
            "description": "LLM model name override"
          },
          "maxExecutionInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens per execution"
          },
          "maxExecutionToolCalls": {
            "type": "integer",
            "description": "Maximum tool calls per execution"
          },
          "maxExecutionFrequency": {
            "type": "integer",
            "description": "Maximum executions in a timeframe"
          },
          "executionFrequencyIntervalMs": {
            "type": "integer",
            "description": "Timeframe in milliseconds for execution frequency limit"
          },
          "concurrentExecutionLimit": {
            "type": "integer",
            "description": "Maximum concurrent executions"
          },
          "agentNotificationConfig": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "enableEmailNotification": { "type": "boolean" },
              "notifiedEmails": { "type": "array", "items": { "type": "string" } },
              "approvalEmails": { "type": "array", "items": { "type": "string" } }
            }
          },
          "evaluationConfig": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "customCriteria": { "type": "array", "items": { "type": "object" } },
              "disableDefaultEvaluation": { "type": "boolean" }
            }
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL for the agent"
          },
          "assistantSpecialization": {
            "$ref": "#/components/schemas/AssistantSpecializationConfig"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the agent is disabled"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the agent is archived"
          },
          "provider": {
            "type": "string",
            "description": "LLM provider override"
          },
          "llm": {
            "type": "string",
            "description": "LLM model name override"
          },
          "maxExecutionInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens per execution"
          },
          "maxExecutionToolCalls": {
            "type": "integer",
            "description": "Maximum tool calls per execution"
          },
          "agentNotificationConfig": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "enableEmailNotification": { "type": "boolean" },
              "notifiedEmails": { "type": "array", "items": { "type": "string" } },
              "approvalEmails": { "type": "array", "items": { "type": "string" } }
            }
          },
          "evaluationConfig": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "customCriteria": { "type": "array", "items": { "type": "object" } },
              "disableDefaultEvaluation": { "type": "boolean" }
            }
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "imgUrl": {
            "type": "string",
            "description": "Image URL"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the agent is disabled"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the agent is archived"
          },
          "provider": {
            "type": "string",
            "description": "LLM provider"
          },
          "llm": {
            "type": "string",
            "description": "LLM model name"
          },
          "assistantSpecialization": {
            "$ref": "#/components/schemas/AssistantSpecializationConfig"
          },
          "creationTimestampMs": {
            "type": "integer",
            "description": "Creation timestamp in milliseconds"
          },
          "lastEditTimestampMs": {
            "type": "integer",
            "description": "Last edit timestamp in milliseconds"
          },
          "maxExecutionInputTokens": {
            "type": "integer",
            "description": "Maximum input tokens per execution"
          },
          "maxExecutionToolCalls": {
            "type": "integer",
            "description": "Maximum tool calls per execution"
          },
          "agentNotificationConfig": {
            "type": "object",
            "additionalProperties": true
          },
          "evaluationConfig": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PaginatedAgentsResponse": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgentResponse" },
            "description": "Array of agents"
          },
          "total": {
            "type": "integer",
            "description": "Total count of agents"
          },
          "offset": {
            "type": "integer",
            "description": "Current page offset"
          },
          "limit": {
            "type": "integer",
            "description": "Items per page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more items"
          }
        }
      },
      "DeleteAgentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success status"
          },
          "message": {
            "type": "string",
            "description": "Success or error message"
          },
          "deletedId": {
            "type": "string",
            "description": "Deleted agent ID"
          }
        }
      },
      "ToolHeader": {
        "type": "object",
        "properties": {
          "headerName": {
            "type": "string",
            "description": "Header name"
          },
          "value": {
            "type": "string",
            "description": "Header value"
          }
        }
      },
      "AuthenticationConfig": {
        "type": "object",
        "properties": {
          "authenticationMethod": {
            "type": "string",
            "enum": ["jwt", "basic", "oauth2", "customHeader"],
            "description": "Authentication method"
          },
          "jwt": {
            "type": "object",
            "properties": {
              "token": { "type": "string" }
            }
          },
          "basic": {
            "type": "object",
            "properties": {
              "username": { "type": "string" },
              "password": { "type": "string" }
            }
          },
          "oauth2": {
            "type": "object",
            "properties": {
              "refreshToken": { "type": "string" },
              "clientId": { "type": "string" },
              "clientSecret": { "type": "string" },
              "refreshTokenEndpoint": { "type": "string" },
              "grant_type": { "type": "string", "enum": ["refresh_token", "client_credentials"] },
              "scope": { "type": "string" },
              "requestFormat": { "type": "string", "enum": ["json", "form"] }
            }
          },
          "customHeader": {
            "oneOf": [
              { "$ref": "#/components/schemas/ToolHeader" },
              { "type": "array", "items": { "$ref": "#/components/schemas/ToolHeader" } }
            ]
          }
        }
      },
      "McpServerProperties": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["public", "private"],
            "description": "Server mode"
          },
          "slug": {
            "type": "string",
            "description": "Server slug (URL-friendly identifier)"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Server status"
          }
        }
      },
      "ToolFunctionParameters": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Parameter type (usually 'object')"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": { "type": "string" },
                "description": { "type": "string" }
              }
            },
            "description": "Parameter properties definition"
          },
          "required": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Required parameter names"
          },
          "additionalProperties": {
            "type": "boolean",
            "description": "Whether additional properties are allowed"
          }
        }
      },
      "ToolFunction": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool function name (snake_case recommended)"
          },
          "description": {
            "type": "string",
            "description": "Tool function description"
          },
          "strict": {
            "type": "boolean",
            "description": "Whether the tool uses strict mode"
          },
          "parameters": {
            "$ref": "#/components/schemas/ToolFunctionParameters"
          }
        }
      },
      "ToolDefinition": {
        "type": "object",
        "required": ["function"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "Tool type (always 'function')"
          },
          "function": {
            "$ref": "#/components/schemas/ToolFunction"
          },
          "endpoint": {
            "type": "string",
            "description": "API endpoint for the tool"
          },
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "DELETE", "PATCH"],
            "description": "HTTP method"
          },
          "queryParametersKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Query parameter keys"
          },
          "pathParametersKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Path parameter keys"
          },
          "bodyPropertyKey": {
            "type": "string",
            "description": "Body property key for request body"
          },
          "customHeaders": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolHeader" },
            "description": "Custom headers for the tool"
          },
          "isFormDataBody": {
            "type": "boolean",
            "description": "Whether the body is form data"
          },
          "bodyMode": {
            "type": "string",
            "enum": ["simple", "advanced"],
            "description": "Body mode"
          },
          "bodyJsonTemplate": {
            "type": "string",
            "description": "JSON body template for advanced mode"
          },
          "responsePostProcessingEnabled": {
            "type": "boolean",
            "description": "Whether response post-processing is enabled"
          },
          "responsePostProcessingTemplate": {
            "type": "string",
            "description": "JS expression template for response post-processing"
          }
        }
      },
      "CreateToolServerRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool server name"
          },
          "description": {
            "type": "string",
            "description": "Tool server description"
          },
          "url": {
            "type": "string",
            "description": "Base URL for the tool server API"
          },
          "identifier": {
            "type": "string",
            "description": "Tool server identifier (URL-friendly)"
          },
          "enabled": {
            "type": "boolean",
            "default": true,
            "description": "Whether the tool server is enabled"
          },
          "mcpType": {
            "type": "boolean",
            "description": "Whether this is an MCP type server"
          },
          "mcpServerProperties": {
            "$ref": "#/components/schemas/McpServerProperties"
          },
          "authenticationConfig": {
            "$ref": "#/components/schemas/AuthenticationConfig"
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL for the tool server"
          },
          "toolServerDefinitionId": {
            "type": "string",
            "description": "Tool server definition ID to link to an existing definition"
          },
          "toolDefinitions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolDefinition" },
            "description": "Array of tool definitions"
          }
        }
      },
      "UpdateToolServerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool server name"
          },
          "description": {
            "type": "string",
            "description": "Tool server description"
          },
          "url": {
            "type": "string",
            "description": "Base URL for the tool server API"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the tool server is enabled"
          },
          "mcpServerProperties": {
            "$ref": "#/components/schemas/McpServerProperties"
          },
          "authenticationConfig": {
            "$ref": "#/components/schemas/AuthenticationConfig"
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL for the tool server"
          },
          "toolDefinitions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolDefinition" },
            "description": "Array of tool definitions"
          }
        }
      },
      "ToolServerResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Tool server ID"
          },
          "clientUID": {
            "type": "string",
            "description": "Client UID"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the tool server is enabled"
          },
          "url": {
            "type": "string",
            "description": "Base URL"
          },
          "identifier": {
            "type": "string",
            "description": "Tool server identifier"
          },
          "name": {
            "type": "string",
            "description": "Tool server name"
          },
          "description": {
            "type": "string",
            "description": "Tool server description"
          },
          "mcpType": {
            "type": "boolean",
            "description": "Whether this is an MCP type server"
          },
          "mcpServerProperties": {
            "$ref": "#/components/schemas/McpServerProperties"
          },
          "toolServerDefinitionId": {
            "type": "string",
            "description": "Tool server definition ID"
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL"
          },
          "creartionTimestampMs": {
            "type": "integer",
            "description": "Creation timestamp in milliseconds"
          },
          "lastEditTimestampMS": {
            "type": "integer",
            "description": "Last edit timestamp in milliseconds"
          }
        }
      },
      "ToolServerDefinitionResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Definition ID"
          },
          "name": {
            "type": "string",
            "description": "Definition name"
          },
          "description": {
            "type": "string",
            "description": "Definition description"
          },
          "toolDefinitions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolDefinition" },
            "description": "Array of tool definitions"
          }
        }
      },
      "ToolServerWithDefinitionResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/ToolServerResponse" },
          {
            "type": "object",
            "properties": {
              "toolServerDefinition": {
                "$ref": "#/components/schemas/ToolServerDefinitionResponse"
              }
            }
          }
        ]
      },
      "PaginatedToolServersResponse": {
        "type": "object",
        "properties": {
          "toolServers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolServerResponse" },
            "description": "Array of tool servers"
          },
          "total": {
            "type": "integer",
            "description": "Total count"
          },
          "offset": {
            "type": "integer",
            "description": "Current offset"
          },
          "limit": {
            "type": "integer",
            "description": "Items per page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more items"
          }
        }
      },
      "ToolListResponse": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolDefinition" },
            "description": "Array of tool definitions"
          },
          "total": {
            "type": "integer",
            "description": "Total count of tools"
          }
        }
      },
      "AddToolRequest": {
        "type": "object",
        "required": ["tool"],
        "properties": {
          "tool": {
            "$ref": "#/components/schemas/ToolDefinition",
            "description": "Tool definition to add"
          }
        }
      },
      "UpdateToolRequest": {
        "type": "object",
        "properties": {
          "function": {
            "$ref": "#/components/schemas/ToolFunction"
          },
          "endpoint": {
            "type": "string",
            "description": "API endpoint for the tool"
          },
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "DELETE", "PATCH"],
            "description": "HTTP method"
          },
          "queryParametersKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Query parameter keys"
          },
          "pathParametersKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Path parameter keys"
          },
          "bodyPropertyKey": {
            "type": "string",
            "description": "Body property key"
          },
          "customHeaders": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolHeader" },
            "description": "Custom headers"
          },
          "isFormDataBody": {
            "type": "boolean",
            "description": "Whether the body is form data"
          },
          "bodyMode": {
            "type": "string",
            "enum": ["simple", "advanced"],
            "description": "Body mode"
          },
          "bodyJsonTemplate": {
            "type": "string",
            "description": "JSON body template"
          },
          "responsePostProcessingEnabled": {
            "type": "boolean",
            "description": "Whether response post-processing is enabled"
          },
          "responsePostProcessingTemplate": {
            "type": "string",
            "description": "Response post-processing template"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the deletion was successful"
          },
          "message": {
            "type": "string",
            "description": "Deletion message"
          },
          "deletedId": {
            "type": "string",
            "description": "Deleted resource ID"
          }
        }
      },
      "TestToolCallRequest": {
        "type": "object",
        "required": ["parameters"],
        "properties": {
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Parameters object to pass to the tool"
          }
        }
      },
      "TestToolCallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the tool call was successful"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Tool call result data"
          },
          "error": {
            "type": "string",
            "description": "Error message if the call failed"
          },
          "executionTimeMs": {
            "type": "integer",
            "description": "Execution time in milliseconds"
          },
          "requestUrl": {
            "type": "string",
            "description": "The URL that was called"
          },
          "requestMethod": {
            "type": "string",
            "description": "The HTTP method used"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List all projects",
        "description": "Lists the projects the authenticated client has access to, with optional pagination.",
        "operationId": "listProjects",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Include archived projects (default: false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjects"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project",
        "description": "Creates a new project.",
        "operationId": "createProject",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project by ID",
        "description": "Retrieves a single project by its ID.",
        "operationId": "getProject",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "403": {
            "description": "Forbidden - No access to this project"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "Updates a project. Supports partial updates.",
        "operationId": "updateProject",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Archive a project",
        "description": "Archives a project (soft delete). Archived projects can be listed with archived=true.",
        "operationId": "archiveProject",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/projects/{projectId}/stats": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project stats summary",
        "description": "Returns a summary of the project's usage statistics (agents, assistants, documents, conversations).",
        "operationId": "getProjectStats",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Aggregated project statistics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "403": {
            "description": "Forbidden - No access to this project"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/projects/{projectId}/threads": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List project agent threads",
        "description": "Lists the agent execution threads associated with the project.",
        "operationId": "getProjectThreads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent threads associated with the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Paginated agent threads"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "403": {
            "description": "Forbidden - No access to this project"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/projects/{projectId}/conversations": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List project assistant conversations",
        "description": "Lists the assistant conversations associated with the project.",
        "operationId": "getProjectConversations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assistant conversations associated with the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Paginated assistant conversations"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "403": {
            "description": "Forbidden - No access to this project"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/projects/{projectId}/costs/daily": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get daily costs for a project",
        "description": "Returns the daily cost breakdown for the project over an optional date range.",
        "operationId": "getProjectDailyCosts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "description": "Filter costs by tenant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily costs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Daily cost breakdown"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "403": {
            "description": "Forbidden - No access to this project"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/projects/{projectId}/costs/monthly": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get monthly costs for a project",
        "description": "Returns the monthly cost breakdown for the project over an optional month range.",
        "operationId": "getProjectMonthlyCosts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": false,
            "description": "Start month (YYYY-MM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": false,
            "description": "End month (YYYY-MM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "description": "Filter costs by tenant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monthly costs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Monthly cost breakdown"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "403": {
            "description": "Forbidden - No access to this project"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "description": "Lists knowledge base documents for the authenticated client, with optional filtering and pagination.",
        "operationId": "listDocuments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "description": "Filter by project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "ready",
                "failed"
              ]
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "description": "Filter by file type",
            "schema": {
              "type": "string",
              "enum": [
                "md",
                "pdf",
                "txt",
                "docx"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search in name and content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": false,
            "description": "Filter by folder ID. Use \"none\" to return documents without a folder",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentOnly",
            "in": "query",
            "required": false,
            "description": "When true, only return root documents (no parent)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDocuments"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Create a markdown document",
        "description": "Creates a markdown document and indexes its content for RAG. Optionally scope it to a project and/or file it inside a folder.",
        "operationId": "createMarkdownDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarkdownDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDocument"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/graph": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document graph",
        "description": "Returns the graph of links between documents (built from @ mentions), optionally scoped to a project.",
        "operationId": "getDocumentGraph",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "description": "Scope the graph to a project",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document graph",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Nodes and edges describing links between documents"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get a document by ID",
        "description": "Retrieves a single document, including its current markdown content.",
        "operationId": "getDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDocument"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Documents"
        ],
        "summary": "Update a document",
        "description": "Updates a document. Changing the markdown content creates a new version and re-indexes the document.",
        "operationId": "updateDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDocument"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Delete a document",
        "description": "Deletes a document and removes it from the knowledge index.",
        "operationId": "deleteDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/versions": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List document versions",
        "description": "Lists all stored versions for a document.",
        "operationId": "listDocumentVersions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentVersion"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/versions/{version}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get a document version",
        "description": "Retrieves a specific version of a document.",
        "operationId": "getDocumentVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Version number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/revert/{version}": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Revert a document to a previous version",
        "description": "Reverts a document to a previous version, creating a new active version with that content and re-indexing it.",
        "operationId": "revertDocumentVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Target version number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Document reverted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDocument"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/subdocuments": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List subdocuments",
        "description": "Lists the subdocuments referenced from a document via @ mentions.",
        "operationId": "listSubdocuments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdocuments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeDocument"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/usage": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document usage",
        "description": "Returns which agents and assistants currently reference this document.",
        "operationId": "getDocumentUsage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Agents and assistants that reference the document"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/attach": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Attach a document to an agent or assistant",
        "description": "Attaches a document to an agent or assistant so it becomes part of its RAG knowledge.",
        "operationId": "attachDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/documents/{id}/detach": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Detach a document from an agent or assistant",
        "description": "Detaches a document from an agent or assistant.",
        "operationId": "detachDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document detached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/document-folders": {
      "get": {
        "tags": [
          "Document Folders"
        ],
        "summary": "List document folders",
        "description": "Lists document folders for the authenticated client, optionally scoped to a project.",
        "operationId": "listDocumentFolders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "description": "Filter by project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentFolder"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Create a document folder",
        "description": "Creates a document folder to organise knowledge base documents.",
        "operationId": "createDocumentFolder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderRequest"
              }
            }
          }
        },
[...]
